[nixpacks]
plan = { providers = ["python"], aptPkgs = ["python3", "python3-pip"] }

[nixpacks.phases.setup]
nixPkgs = ["python3", "python311Packages.pip"]

[build]
builder = "NIXPACKS"
buildCommand = "cd api && python3 -m pip install -r requirements.txt"

[deploy]
startCommand = "cd api && uvicorn app.main:app --host 0.0.0.0 --port $PORT"
healthcheckPath = "/health"
restartPolicyType = "ON_FAILURE"
